/* search bar */
.search-bar {
  margin-top: 10px;
}

/* body */
.recipe-container {
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: solid 2px #aaa;
}

.page-grid {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.index-img {
  display: inline;
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-top: 5px;
}

li {
  list-style-type: none;
  padding-bottom: 10px;
}

/* image and search */
.hero {
  background: url(https://cdn.pixabay.com/photo/2017/12/29/19/37/food-3048440_960_720.jpg) no-repeat
    50% 50%;
  background-size: cover;
  /* color: #fff; */
  padding: 100px 20px 400px;
  text-align: center;
  margin-top: 10px;
}

.hero-container {
  width: 35%;
  height: auto;
  top: 33%;
  left: 33%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}

.hero-hdr {
  margin: 10px 0 5px;
}

form {
  margin-bottom: 10px;
}

/* wrapper */
.wrapper {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 10px;
}

.hdr {
  padding: 10px;
  margin-bottom: 5px;
}

.name {
  text-transform: capitalize;
  text-decoration: none;
}

/* login */
.login-wrapper {
  margin-left: 50px;
  margin-top: 10px;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  align-items: right;
}

.login-form {
  margin-bottom: 5px;
}

/* recipe page */
.recipe-wrapper {
  width: 75%;
  display: grid;
  justify-content: flex-start;
  margin-top: 10px;
}

.food {
  padding-top: 5px;
  padding-bottom: 5px;
}

.process {
  text-align: left;
  margin-top: 10px;
}

.process-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 10px;
}

pre {
  white-space: pre-wrap;
  font-size: 15px;
}

/* signup page */
.su-hero {
  background: url(https://cdn.pixabay.com/photo/2015/04/28/20/24/wood-744306_960_720.jpg) no-repeat
    50% 50%;
  background-size: cover;
  /* color: #fff; */
  padding: 100px 20px 400px;
  text-align: center;
  margin-top: 10px;
}

.sign-up-container {
  width: 40%;
  height: auto;
  /* top: 33%; */
  left: 30%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
}

/* profile */
.pro-wrapper {
  width: 75%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 10px;
}

.link-box {
  margin-top: 14px;
}

.user-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* add page */
.add-hero {
  background: url(https://cdn.pixabay.com/photo/2021/08/27/22/29/eggs-6579677_1280.jpg) no-repeat
    50% 50%;
  background-size: cover;
  /* color: #fff; */
  padding: 100px 20px 400px;
  text-align: center;
  margin-top: 10px;
}
