{% extends 'base.html' %} {% block main %}

<div class="add-hero">
  <div class="hero-container">
    <h2 class="hdr">Add a new recipe</h2>

    <form autocomplete="off" action="/add_recipe_action" method="POST">
      <div class="food">
        <input name="name" type="text" placeholder="Recipe name" />
        <input name="image_url" type="text" placeholder="Image URL" /> <br />
      </div>
      <div class="food">
        <input name="ingredients" type="text" placeholder="Ingredients" />
        <input name="method" type="text" placeholder="Method" />
      </div>
      <input type="submit" value="Save" />
    </form>
  </div>
</div>

{% endblock %}
