{% extends 'base.html' %} {% block main %}

<div class="page-wrapper">
  <h2 class="hdr">Add a new recipe</h2>

  <form autocomplete="off" action="/add_recipe_action" method="POST">
    <div class="food">Recipe name <input name="name" type="text" /></div>
    <div class="food">Ingredients <input name="name" type="text" /></div>
    <div class="food">Method <input name="name" type="text" /></div>
    <div class="food">Image URL <input name="image_url" type="text" /> <br /></div>
    <input type="submit" value="Save" />
  </form>
</div>

{% endblock %}
