<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/base_styles.css" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header class="header">
      <div id="navbar">
        <div class="cntnr-hdr">
          <h1 class="logo">OnlyFlans</h1>

          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/recipe_index">Index</a></li>
              {% if session['email'] %}
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Log out</a></li>
              {% else %}
              <li><a href="/login">Login</a></li>
              <li><a href="/create_account">Sign up</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </header>

    {% block main %} {% endblock %}
    <footer></footer>
  </body>
</html>
