{% extends 'base.html' %} {% block main %}

<div class="su-hero">
  <div class="sign-up-container">
    <h2 class="hero-hdr">Create an account</h2>
    <div>
      <form autocomplete="off" action="/create_account_action" method="POST">
        <div class="food">Your first name: <input name="first-name" type="text" /></div>
        <div class="food">Your surname: <input name="surname" type="text" /></div>
        <div class="food">Your email: <input name="email" type="text" /></div>
        <div class="food">Create a password <input name="password" type="text" /> <br /></div>
        <input type="submit" value="Create account" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
