{% extends 'base.html' %} {% block main %}

<div class="su-hero">
  <div class="sign-up-container">
    <h2 class="hero-hdr">Create an account</h2>
    <div>
      <form autocomplete="off" action="/create_account_action" method="POST">
        <div class="food">
          <input name="first-name" type="text" placeholder="Your first name" />

          <input name="surname" type="text" placeholder="Your surname" />
        </div>
        <div class="food">
          <input name="email" type="text" placeholder="Your email" />

          <input name="password" type="password" placeholder="Create password" /> <br />
        </div>
        <input type="submit" value="Create account" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
