{% extends 'base.html' %} {% block main %}
<div class="su-hero">
  <div class="sign-up-container">
    <h2 class="hdr">Log in</h2>

    <div>
      <form autocomplete="off" action="/login" method="POST">
        <input class="login-form" type="text" name="email" placeholder="Email" />
        <input class="login-form" type="password" name="password" placeholder="Password" />
        <input type="submit" value="Log in" />
      </form>
    </div>
    <div>
      <p style="margin-bottom: 10px">
        Don't have an account? <a href="/create_account">Create one</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
