{% extends 'base.html' %} {% block main %}

<div class="pro-wrapper">
  <h2 class="hdr">Welcome back, <span style="text-transform: capitalize">{{name}}</span></h2>
  <div class="link-box">
    <a href="/add_recipe">Add new recipe</a>
  </div>
</div>

<div class="recipe-container">
  Your recipes
  <div class="user-grid">
    {% for result in results %} {% if email == result[4] %}

    <li>
      <a href="/recipe_page/{{result[0]}}" class="name""
        >{{result[0]}}</a
      ><br />
      <a href="/recipe_page/{{result[0]}}"><img class="index-img" src="{{result[1]}}" /></a><br />
      <a href="/delete_recipe/{{result[0]}}" class="name"">remove recipe</a>
    </li>

    {% endif %} {% endfor %}
  </div>
</div>

{% endblock %}
