{% extends 'base.html' %} {% block main %}

<div class="wrapper">
  <h2 class="hdr">{{recipe_name}}</h2>
  <div class="search-bar">
    <form autocomplete="off" method="GET" action="/search_results" style="padding: 5px">
      <input
        type="text"
        name="recipe"
        placeholder="Search by recipe or ingredient"
        style="width: 190%"
      />
    </form>
  </div>
</div>

<div class="recipe-container">
  <div class="process-grid">
    <!-- <img src="{{recipe_image}}" style="width: 70%" /> -->
    <div class="process">
      <h3>Ingredients</h3>
      <pre>{{recipe_ingredients}}</pre>
    </div>
    <div class="process">
      <h3>Method</h3>
      <pre>{{recipe_method}}</pre>
    </div>
  </div>
</div>

{% endblock %}
