{% extends 'base.html' %} {% block main %}

<div class="wrapper">
  <h2 class="hdr">Recipe index</h2>
  <div class="search-bar">
    <form autocomplete="off" method="GET" action="/search_results" style="padding: 5px">
      <input
        type="text"
        name="recipe"
        placeholder="Search by recipe or ingredient"
        style="width: 190%"
      />
    </form>
  </div>
</div>

<div class="recipe-container">
  <div class="page-grid">
    {% for result in results %}

    <li>
      <a href="/recipe_page/{{result[0]}}">{{result[0]}}</a><br />
      <img class="index-img" src="{{result[1]}}" />
    </li>

    {% endfor %}
  </div>
</div>

{% endblock %}
